h1{
color: #AC7088;
}
h3{
  color: #DEB6AB;
}
/*
to change heading colour*/

.game{
  background-color: #F5E8C7;
  border-radius: 7%;
  height: 50%;
  width: 30%;
}
.pog{
  background-color: #F5E8C7;
  border-radius: 20%;
  height: 4%;
  width: 10%;
}
.arnavi{
  background-color: #F5E8C7;
  border-radius: 10%;
  height: 4%;
  width: 10%;

}
.myslef{
  text-align: justify;
  text-decoration: underline;
  text-indent: 30px;
  margin-right: 30px;

}
/*class selection */

#headingimage{
  background-color: #F5E8C7;
}

/*id selection */
